/* Transitions */

#literal-life-church-video-player > * {
    animation: player-fade-in 0.3s ease;
}

@keyframes player-fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* General */

#literal-life-church-video-player {
    align-items: center;
    aspect-ratio: 16 / 9;
    background: #000;
    border-radius: 0.5rem;
    color: #ffffff;
    display: flex;
    font-family: "Roboto", sans-serif;
    justify-content: center;
    max-width: 960px;
    overflow: hidden;
    width: 50%;
}

#literal-life-church-video-player > .loading-container {
    color: #d78819;
}

/* Message States (offline, prewarming, canceled) */

#literal-life-church-video-player > .message-container {
    padding: 1rem;
    text-align: left;
}

#literal-life-church-video-player > .message-container h1 {
    color: #d78819;
    font-size: 3rem;
    margin: 0.5rem 0;
}

#literal-life-church-video-player > .message-container p {
    font-size: 1rem;
}

#literal-life-church-video-player > .message-container a {
    color: #d78819;
}

/* Error State */

#literal-life-church-video-player.player-error {
    background-color: #fb6b60;
}

#literal-life-church-video-player > .error-container {
    padding: 1rem;
    text-align: left;
}

/* Canceled Event */

#literal-life-church-video-player > .message-container.message-event-canceled-container > .event-canceled-status-balloon {
    background-color: #d78819 !important;
    border-radius: 0.365rem;
    color: #ffffff;
    font-size: 0.75rem;
    padding: 0.2rem 0.4rem;
}

#literal-life-church-video-player > .message-container.message-event-canceled-container > .event-canceled-name {
    margin: 0.5rem 0;
}

#literal-life-church-video-player > .message-container.message-event-canceled-container > .event-canceled-original-schedule {
    margin: 0;
    padding-bottom: 1rem;
}

#literal-life-church-video-player > .message-container.message-event-canceled-container > .event-canceled-original-schedule > .event-canceled-original-schedule-label {
    font-weight: bold;
}

#literal-life-church-video-player > .message-container.message-event-canceled-container > .event-canceled-original-schedule > .event-canceled-original-schedule-time {
    font-style: italic;
}

/* Live Event */

#literal-life-church-video-player > iframe {
    border: none;
    height: 100%;
    width: 100%;
}
